<nav id="nav">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link home"
                id="home"
                aria-current="page"
                routerLink="products"
                ><b><img width="80" height="80" src="https://img.icons8.com/external-xnimrodx-blue-xnimrodx/64/external-home-contact-us-xnimrodx-blue-xnimrodx.png" alt="external-home-contact-us-xnimrodx-blue-xnimrodx"/></b></a
              >
            </li>
            <a routerLink="basket" class="cart"
              ><i><img src="https://img.pikbest.com/png-images/20191028/little-boy-pushing-a-shopping-cart-to-buy-things-gif_2515305.png!bw700" alt=""></i
            ></a>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</nav>
